.service-card {
  height: 200px;   /* change as needed */
}
.pharmacy-card{
  
  background-color: rgb(127, 199, 199);
}
.general-card{
  background-color: rgb(187, 149, 223);
}
.nursing-card{
  background-color: rgb(129, 164, 230);
}
.physiotherpy-card{
  background-color: rgb(225,221,197);
}

.lab-card{
  background-color: rgb(242,184,215);
}

.specialty-card{
  background-color: rgb(177, 197, 234);
}
.medicine-card{
  background-color: rgb(201,229,255);
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 400px; 
  overflow: hidden;
  border-radius: 8px;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: fill;   
}

.slide.active {
  display: block;
}


.prev, .next {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .carousel { height: 200px; }
  .prev, .next { padding: 6px 10px; }
}
