.medical-files {
  max-width: 100%;
}

.file-card {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 12px 16px;
  margin-bottom: 10px;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}

.file-card:hover {
    color: rgb(12, 121, 165); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


.file-icon {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background: #f5f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-icon mat-icon {
  font-size: 26px;
  color: #3f51b5;
}

.file-info {
  max-width: 400px;
}

.file-name {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-meta {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.file-actions button {
  margin-left: 6px;
}

.no-files {
  text-align: center;
  color: #888;
  padding: 30px 0;
}

.no-files mat-icon {
  font-size: 48px;
  margin-bottom: 8px;
}
.actions {
  display: flex;
  justify-content: flex-end; 
  gap: 12px;
  
}

