<div class="login-container">
    <div class="login-panel pt-5">

        <!-- LOGO-->
        <div class="logo text-center">
            <img src="apollo-logo.png" alt="Apollo">
        </div>

        <!--SELECT MODE -->
        @if (mode === 'SELECT') {

        <div class="loginPagetitle w-75">
            <h5 class="">How would you like to continue?</h5>

        </div>

        <div class="howToContinue">
            <div class="option-card mt-3 text-center w-75" (click)="selectOption('existing')">
                <p class="linkedAcc">I'm an existing Apollo Patient</p>
                <p>(Link my profile)</p>
            </div>

            <div class="option-card mt-3 text-center w-75" (click)="selectOption('new')">
                <p class="linkedAcc">I'm new to Apollo</p>
                <p>(Create new account)</p>
            </div>
            <button class="continue-btn mt-4 w-75" (click)="onContinue()" [disabled]="!selectedOption">
                Continue
            </button>
        </div>



        <div class="back-btn text-center d-flex gap-1" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            <span class="goBack">Go Back</span>
        </div>
        }

        <!--  LOGIN MODE -->
        @if (mode === 'L') {

        <div class="loginPagetitle w-75">
            <h5 class="py-1">Welcome Back</h5>

            <p class="">
                Provide the registered mobile number to complete account linking
            </p>
        </div>

        <div class="howToContinue">
            <mat-form-field class="w-75" appearance="outline">
                <mat-label>Phone</mat-label>
                <span matPrefix class="p-2">+968&nbsp;</span>

                <input matInput type="text" [(ngModel)]="phone" maxlength="8" placeholder="XXXXXXXX">
            </mat-form-field>

            <button class="continue-btn w-75" (click)="loginAcc()">
                Continue
            </button>
        </div>


        <p class="text-center link p-3 patientId-login" (click)="loginId()">
            Login with Patient ID instead
        </p>

        <div class="back-btn pt-1" (click)="goBack1()">
            <mat-icon>arrow_back</mat-icon>
            <span>Go Back</span>
        </div>

        }
        <!--  LOGIN WITH ID MODE -->
        @if (mode === 'ID') {


        <div class="loginPagetitle w-75">
            <h5 class="">Link Patient Using ID</h5>

            <p class="text-secondary">
                Enter the Patient ID and Date of Birth to link the correct patient profile.
            </p>
        </div>
        <div class="howToContinue">
            <mat-form-field class="w-75" appearance="outline">
                <mat-label>Patient ID</mat-label>
                <input matInput type="text" maxlength="4" placeholder="XXXX" [(ngModel)]="linkedId">
            </mat-form-field>
            <mat-form-field class="w-75" appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput type="date" name="dob" [(ngModel)]="dob">
            </mat-form-field>

            <button class="continue-btn w-75" (click)="loginWithId()">
                Continue
            </button>
        </div>


        <div class="back-btn text-center d-flex gap-1" (click)="goBack1()">
            <mat-icon>arrow_back</mat-icon>
            <span>Go Back</span>
        </div>

        }
        <!--  choose account -->
        <!-- @if (mode === 'C') {

        <h3 class="text-center">Choose a Patient Profile</h3>

        <p class="text-secondary">
           Select the profile you want to link with your Apollo account. You can link other patient profiles anytime from the Accounts section.
        </p>

        @for( item of personalDetails;track item){
  <div class="d-flex chooseProfile px-4 py-3 mb-4 border-round" (click)="chooseProfile()">
    <div class="d-flex gap-3">
        <img src="user-img.svg" alt="">
        <div>
            <h5 [(ngModel)]="name"> {{ item.name}}</h5>
            <span [(ngModel)]="dob"> {{ item.dob}} </span>
            <span [(ngModel)]="gender"> <span class="dot"></span> {{ item.gender}}</span>
        </div>
    </div>
     <div class="pt-4">
      <mat-icon>chevron_right</mat-icon>

    </div>

  </div>
} -->

        <!-- <button class="continue-btn w100" (click)="loginWithId()">
            Continue
        </button>

        <div class="back-btn text-center" (click)="goBack1()">
            <mat-icon>arrow_back</mat-icon>
            <span>Go Back</span>
        </div>

        } -->


        <!--  OTP MODE-->
        @if (mode === 'O') {

        <div class="loginPagetitle w-75">
            <h4>Verify OTP</h4>

            <p>
                We’ve sent a 6-digit code to +968 XXXXX X2436 {{dbmsg}}
                {{ loginMessage }}
            </p>
        </div>

        <div class="otp-inputs">

            @for (digit of otp; let i = $index; track i) {

            <input #otpInput class="otp-box" type="text" maxlength="1" inputmode="numeric" autocomplete="one-time-code"
                [(ngModel)]="otp[i]" (input)="moveToNext($event, i)" />
            }
        </div>

        <div class="howToContinue">
            <button class="continue-btn w-75" (click)=" verifyOtp()">
                Verify & Continue
            </button>

            <!-- <p class="text-center link mt-2">
                Login with Patient ID instead
            </p> -->

            <div class="back-btn text-center d-flex gap-1" (click)="goBack1()">
                <mat-icon>arrow_back</mat-icon>
                <span>Go Back</span>
            </div>
        </div>

        }
        <!-- SIGNUP MODE  -->
        @if (mode === 'S') {
<div class="loginPagetitle w-75">
        <h5>Create a New Account</h5>

</div>
<div class="howToContinue">
 <mat-form-field class="w-75" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput name="name" [(ngModel)]="name">
        </mat-form-field>

        <mat-form-field class="w-75" appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput type="date" name="dob" [(ngModel)]="dob">
        </mat-form-field>

        <mat-form-field class="w-75" appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select name="gender" [(ngModel)]="gender">
                <mat-option value="M">Male</mat-option>
                <mat-option value="F">Female</mat-option>
                <mat-option value="O">Other</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-75" appearance="outline">
            <mat-label>Phone</mat-label>
            <span matPrefix class="p-2">+968&nbsp;</span>
            <input matInput maxlength="8" name="phone" [(ngModel)]="phone">
        </mat-form-field>

        <mat-form-field class="w-75" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="password">
        </mat-form-field>

        <button class="continue-btn mt-4 w-75" (click)="signUpNewAccount()">
            Continue
        </button>

        <div class="back-btn text-center w-75 d-flex gap-1" (click)="goBackToSelect()">
            <mat-icon>arrow_back</mat-icon>
            <span>Go Back</span>
        </div>
</div>

       
        }

    </div>
    <!-- main right side -->
    <div class="right-panel mobile-hide ">
        <div class="right-content">
            <p class="right-text">
                As a healthcare beacon in Oman, we set new quality standards, with facilities spanning Muscat
            </p>
            <img src="login-photo.png" class="right-image" alt="side image">
        </div>
    </div>
</div>