.allergyCard {
    background-color: #eaf2f5;
    border: solid 1px #0C7DA1;
    border-left-width: 10px;
    border-radius: 10px;
    padding: 15px;
}

.contentCard {
    background-color: white;
    border: dashed 1px;
    padding: 15px;
    border-radius: 10px;
}

.contentCard p {
    font-size: smaller;
    font-weight: 200;
}

.contentCard span {
    font-size: medium;
    font-weight: 500;
}

.contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
}