.MedicationCard{
    border: solid 1px #0C7DA1;
    border-left-width: 10px;
    border-radius: 10px;
    padding: 15px;
    width: 50%;
}

.medication-img {
  width: 100%;
  max-width: 120px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
