.MedicationCard{
    border: solid 1px #0C7DA1;
    border-left-width: 10px;
    border-radius: 10px;
    padding: 15px;
}

.medication-img {
  width: 100%;
  max-width: 120px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.medications{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

