<style>
    /* emergency.css */

    .title {
        color: red;
        text-align: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .call-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .addNew {
        background-color: #0B7DA1;
        color: #fff;
        padding: 8px 14px;
        border: none;
        border-radius: 12px;
        /* cleaner than % */
        cursor: pointer;

        display: inline-flex;
        align-items: center;
        gap: 8px;

        font-size: 14px;
        font-weight: 500;
    }

    .primary {
        background-color: rgba(12, 125, 161, 0.09);
        color: rgba(12, 125, 161, 1);
        padding: 8px 14px;
        border: none;
        border-radius: 10px;
        /* cleaner than % */
        cursor: pointer;
        display: inline-flex;

        gap: 8px;
        font-size: 14px;
        font-weight: 500;
    }


    .add {
        background-color: #fff;
        color: #0B7DA1;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        /* perfect circle */
        font-weight: bold;
    }

    .contact-cardP {
        height: 100%;
        /* equal height */
        border: 1px solid #ddd;
        border-radius: 12px;
        padding: 16px;
        background-color: #fffcfc;

        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    }

    .contact-card h5 {
        margin-bottom: 6px;
        font-weight: 600;
    }

    .contact-card p {
        margin-bottom: 4px;
        font-size: 14px;
        color: #444;
    }

    .contact-details {
        font-size: 13px;
        color: #2a0a0a;
    }

    .contact-name {
        font-size: large;
        font-weight: bold;
        color: black;
    }

    .contact-card {
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 12px;
        padding: 16px;
        background-color: #fcfcfc;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact-left {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .dots {
        display: flex;
        align-items: center;
        gap: 10px;
    }
</style>

<h2 class="title">Emergency help needed?</h2>

<div class="call-img">
    <img src="call-icon.svg" alt="Call Icon" />
</div>

<div class="d-flex flex-column flex-md-row p-3 mt-2 gap-3">

    <div>

    </div>
    <!-- ADD NEW CONTACT -->
    <div class="w-100 w-md-50 p-3 d-flex justify-content-center align-items-center">
        <div class="addNew-div text-center" (click)="openEmergencyContact()">
            <button class="addNew">
                <span class="add">+</span>
                Add new contact
            </button>
        </div>
    </div>

    <!-- PRIMARY CONTACT -->
    <div class="w-100 w-md-50 p-3 border contact-cardP">
        <div
            class="d-flex flex-column flex-sm-row gap-3 justify-content-between align-items-start align-items-sm-center">
            <div>
                <h5 class="mb-1">Akbar Ali</h5>
                <p class="mb-0 ">+936 783e7832</p>
            </div>

            <div>
                <button class="primary">
                    <span class="add">
                        <img src="single-dot.svg" alt="">
                    </span>
                    Primary
                </button>
            </div>
        </div>
    </div>


</div>

<!-- ALL CONTACTS -->
<p class="fs-5 mt-3">Your emergency contacts</p>
<div class="container mt-3">
    <div class="row g-4">

        @for (contact of emergencyContacts; track contact) {
        <div class="col-12 col-md-6 col-lg-4">

            <div class="contact-card">

                <!-- LEFT -->
                <div class="contact-left">
                    <p class="contact-name">{{ contact.FirstName }}</p>
                    <p class="text-secondary">+91 {{ contact.Phone}}</p>
                    <p class="text-secondary">{{ contact.Relationship}}</p>
                </div>

                <!-- RIGHT -->
                <div class="dots">

                    @if (contact.ContactPrefernce === 'primary') {
                    <button class="primary">
                        <span class="add">
                            <img src="single-dot.svg" alt="">
                        </span>
                        Primary
                    </button>
                    }
                    <div class="flex-col">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <!-- Menu -->
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item >
                                <mat-icon>star_border</mat-icon>
                                <span>Set as Primary</span>
                            </button>
                            <button mat-menu-item >
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>

                            
                        </mat-menu>

                        <div class="mt-3 ms-2 " (click)="deleteContact(contact)">
                            <mat-icon>delete</mat-icon>
                        </div>

                    </div>


                </div>

            </div>

        </div>
        }

    </div>
</div>

<app-custom-dialog [show]="showEmergencyContactPopup" heading="Add Emergency contact"
    subheading="This contact will be used in case of medical emergiencies or important updates." [hideActions]="true"
    (close)="closeEmergencyContact()">
    <app-add-emergency-contact (close)="closeEmergencyContact()"></app-add-emergency-contact>
</app-custom-dialog>